@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.capabilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 3%;
    min-height: 80vh;
    font-family: 'Roboto', sans-serif;
}
.capa-text{
    text-align: center;
    margin-bottom: 2%;
    padding: 0 3%;
}
.capa-text h1{
    font-size: 3rem;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.card-row{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-grow: 1;
    height: 40%;
    width: 100%;
    margin-bottom: 3%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
    padding: 1.5% 3%;
    border-radius: 3px;
    background-color: #f5f3f1;
    opacity: 0;
    transition: all 0.8s;
    transform: translateY(-100%);
    filter: blur(4px);
}
.show{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}
.card h1{
    margin: 0;
    padding: 0;
}
.card li{
    margin-bottom: 2%;
}
@media (max-width:700px) {
    .card-row{
        flex-direction: column;
    }
    .card{
        width: 90%;
        margin-bottom: 2%;
    }
}