@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.casses{
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    min-height: 80vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.casses-title{
    font-size: 3rem;
}