@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.navbar{
    background-color: rgb(1,1,1,0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1% 3%;
    font-family: 'Raleway', sans-serif;
}
.nav-items{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}
.nav-item{
    padding-left: 2%;
}