@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.bits-title{
    text-align: center;
    padding-top: 7%;
    font-size: 3.5rem;
}
.dc-title{
    font-size: 5rem;
    padding: 0 0 2% 0;
    font-weight: bolder;
}
.sub-title{
    font-size: 2rem;
    padding-bottom: 5%;
}
.btn{
    background-color: transparent;
    border-radius: 10px;
    font-size: 2rem;
    border: 3px solid white;
    width: 18%;
    color: white;
    margin-bottom: 5%;
    font-weight: bold;
}

@media (max-width:700px){
    .bits-title{
        padding-top: 25%;
        font-size: 2rem;
    }
    .dc-title{
        font-size: 3rem;
        padding: 4% 0 15% 0;
    }
    .sub-title{
        font-size: 1.5rem;
        padding-bottom: 10%;
    }
    .btn{
        font-size: 1.5rem;
        width: 60%;
        margin-bottom: 10%;
    }
}